<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kinematics Simulation</title>

    <meta name="description" content="A kinematics simulation">
    <meta name="author" content="Liam Clancy">
  </head>

	<body>
		<strong> Data: </strong>
		<br> Launch Angle: <div id="launchAngleDisplay">0</div>
		<br> Initial Launch Velocity: <div id="initialVelocityDisplay">0</div>
		<br> Vertical Displacement: <div id="verticalDisplacementDisplay">0</div>
		<br> Hortizontal Displacement: <div id="horizontalDisplacementDisplay">0</div>
		<br>
		<br> X-Position at time <div id="timeDisplay">0</div>: <div id="xPositionDisplay">0</div>
		<br> X-Velocity at time <div id="timeDisplay">0</div>: <div id="xVelocityDisplay">0</div>
		<br> Y-Position at time <div id="timeDisplay">0</div>: <div id="yPositionDisplay">0</div>
		<br> Y-Velocity at time <div id="timeDisplay">0</div>: <div id="yVelocityDisplay">0</div>

		<script>
			window.theta = <%= angle %>;
			window.velocityInitial = <%= velocity %>;
			window.deltaY = <%= verticalDisplacement %>;
			window.deltaX = <%= horizontalDisplacement %>;
		</script>
		<script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/cannonMath.js"></script>
  </body>
</html>
